<div class="row">

  <div class="col-md-6">
    <h2>No completado</h2>
      <% @todos.each do |todo| %>
        <% if todo.completed !=true%>
          <p><%= todo.description%></p>

        <% end %>
      <%end%>
  </div>


  <div class="col-md-6">
    <h2>Completado</h2>
    <% @todos.each do |todo| %>
    <% if todo.completed == true%>
      <p><%= todo.description%></p>
    <% end %>
  <%end%>
  </div>

</div>
